/*Especificidad: 001*/
body {
  font-family: Tahoma, sans-serif;
  color: #000;
  background-color: #fff;
}

/*Especificidad: 001*/

section {
  border-width: 0.5em;
  border-style: double;
}

nav {
  border-width: 0.2em;
  border-style: solid;
}